.board {
	height: 45em;
	width: 45em;
	display: grid;
	grid-template-columns: repeat(9, 5em);
	grid-template-rows: repeat(9, 5em);
	border-top: 2px solid;
	border-left: 2px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
}

.cell {
	position: relative;
	height: 5em;
	width: 5em;
	border: 1px solid;
	box-sizing: border-box;
}

.cell-normal {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell-notes {
	display: grid;
	grid-template-columns: repeat(9, 0.5em);
}
.cell-notes > div {
	position: absolute;
	display: flex;
}

.cell > p {
	margin-block-start: 0;
	margin-block-end: 0;
	font-size: 4em;
	height: 1em;
}

.cell-notes > div > p {
	width: 0.5em;
	font-size: 1em;
	margin-block-start: 0;
	margin-block-end: 0;
}

.center-notes {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.region-right {
	border-right: 2px solid;
}

.region-bottom {
	border-bottom: 2px solid;
}

.selected-cell {
	background-color: #4242428a;
}

.selected-mode {
	background-color: #a9a9a9;
}

.game-root {
	display: flex;
	align-items: center;
}
.control-pad {
	display: grid;
	grid-template-columns: repeat(4, 5em);
	grid-template-rows: repeat(3, 5em);
	grid-row-gap: 1em;
	grid-column-gap: 1em;
	margin-left: 6em;
}

.number-button {
	font-size: xx-large;
}

.my-button {
	font-family: "Cousine";
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	width: 100%;
}

.my-button:focus {
	outline: none;
}

.my-button:hover {
	cursor: pointer;
	background-color: #d3d3d3;
}

.selected-mode:hover {
	background-color: #a9a9a9;
}

.ripple-container {
	border-radius: 10px;
}
