.board {
	height: 45em;
	width: 45em;
	display: grid;
	grid-template-columns: repeat(9, 5em);
	grid-template-rows: repeat(9, 5em);
	border-top: 2px solid;
	border-left: 2px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
}

.cell {
	height: 5em;
	width: 5em;
	border: 1px solid;
	box-sizing: border-box;
}
.cellValue {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell > p {
	margin-block-start: 0;
	margin-block-end: 0;
	font-size: 4em;
	height: 1em;
}

.regionRight {
	border-right: 2px solid;
}

.regionBottom {
	border-bottom: 2px solid;
}

.selectedCell {
	background-color: #4242428a;
}
